.sectionHome{
    display: flex;
    width: 100vw;
    height: 100vh;

}
.shopTitleHome{
    background: rgb(42,40,75);
    background: linear-gradient(225deg, rgba(42,40,75,1) 0%, rgba(0,0,0,1) 100%);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 25%;
}
.backgroundHome{
    background-image: url(../../assets/Shopbackground.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 75%;
    height: 100%;
}