.detailFlex{
    display: flex;
    margin: 10%;
    gap: 20%;
}
.detailDescriptionFlex{
    display: flex;
    flex-direction: column;
    
}
.detailTitle{
    font-size: 3rem;
}
.detailPrice{
    font-size: 2rem;
}
.detailProductDescription{
    font-size: 1.5rem;
}