.detailFlex{
    display: flex;
    align-items: center;
    margin: 10rem 5rem;
    gap: 20%;
    height: fit-content;
}
.detailDescriptionFlex{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
.detailTitle{
    font-size: 2rem;
}
.detailPrice{
    font-size: 1.5rem;
}
.detailProductDescription{
    font-size: 0.8rem;
}
.detailButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}